<www.your.domain> {
    root /www/public

    git {
        repo {$REPO_URL}
        path ../src
        hook /webhook {$WEBHOOK_SECRET}
        args --recurse-submodules
        then hugo --destination=/www/public --theme={$HUGO_THEME} --baseURL={$HUGO_BASEURL}
    }

    tls {$TLS_EMAIL} {
        max_certs 10
    }

    log /www/public/log/access.log
    errors /www/public/log/errors.log
}

<your.domain> {
    redir <www.your.domain>
}
